<%if !member_signed_in?%>
<%end%>
 <%= render partial: "teams/sidebar" %>
<div class="main-panel expand">
 <%= render partial: "members/navbar" %>
<div class="row">
<% @games.each do |game|%>
<div class=".col-sm-6 col-md-3">

  <div class="thumbnail">
  <%= link_to game_path(id:game.id) do %>
  <b><%=game.title%></b>
  <%end%>

  </div>
</div>
<%end%>

</div>
</div>