
<div class="wrapper">

    <%= render 'teams/sidebar' %>
    <div class="main-panel expand">
    <%= render 'members/navbar' %>


        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class=" col-sm-12">
                        <div class="card">

                        </div>
                    </div>
                </div>

                <div class="row">
                	<div class="content">
                		<center><strong><h3 style="color:#FFFFFF" >New Game</h3></strong></center>
<div class="col-lg-12 col-md-12">
                        <div class="card box-shape">
                          <div class="header">
<%= render 'form' %>
</div>
</div>
</div>

<%= link_to 'Back', games_path %>

                	</div>


                </div>

            </div>
        </div>

    </div>
</div>



