<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bushfighters Paintball Club</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

      <%= csrf_meta_tags %>
</head><!--/head-->

<body id="home" class="homepage">

    <%= yield %>

 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>