

<div class="row">

    <div class="col-lg-12 col-md-12">
        <div>

        <div  class="row sharing-area text-center ">
            <br> <br> <br> <br>
            <% if current_member.present? && current_member.email == 'admin@bushfighterspaintballclub.com' %>
            <strong><h5 style="color:#FFFFFF">You don't have any  Team yet, create one now</h5></strong>
             <%= link_to new_team_path do %>
                <button  type="button" class="btn btn-raised btn-twitter">New Team</button>

               <br><br> <br>
            <% end %>
            <%else%>
            <strong><h5 style="color:#FFFFFF" >You don't have any  Team yet, contact admin to create your team</h5></strong>
            <%end%>
        </div>
        </div>
    </div>
</div>
    